.form {
    display: flex;
    flex-direction: column;
    width: 10rem;
    gap: 0.25rem;
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 5%;
}

.field {
    border: 1px solid;
    width: 100%;
    height: 1.5rem;
    padding: 0.25rem;

    &[type='submit'] {
        cursor: pointer;
    }
}

label {
    &:last-of-type {
        margin-bottom: 1rem;
    }
}

.form__user-name {
    font-size: 1.25rem;
}