.authorization-control__user-data {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.authorization-control__user-logout-data {
    display: flex;
    gap: 1em;
}

.authorization-control__user-name {
    color: #fff;
    font-size: 1.5rem;
}