.authorization-control__user-data {
    display: flex;
    align-items: center;
}

.authorization-control__user-logout-data {
    display: flex;
    gap: 1em;
}

.authorization-control__user-name {
    color: #fff;
    font-size: 1.5rem;
}